<div id="bookings" class="page">
  <div class="bookings-header">
    <div>
      <button id="filterSizeBtn" class="page-btn">Filtra</button>
    </div>
    <div>
      <button id="newBookingBtnBookings" class="page-btn primary"><span class="icon">＋</span><span>Nuova Prenotazione</span></button>
    </div>
  </div>

    <div class="home-body bookings-body">
      <div class="cars-col sidebar">
        <div class="home-header"><strong class="section-title">Auto</strong></div>
        <div id="machinesLegend" class="cars-col"></div>
      </div>
      <div class="calendar-wrapper">
        <div class="calendar-col">
          <div id="monthView"></div>
        </div>
      </div>
    </div>
</div>
