<div id="home" class="page active">
    <div class="home-header">
    <div>
      <button id="reorderSizeBtn" class="page-btn">Ordina</button>
    </div>
    <div>
      <button id="newBookingBtnHome" class="page-btn primary"><span class="icon">＋</span><span>Nuova Prenotazione</span></button>
    </div>
  </div>
  <div class="home-body">
    <div class="cars-col" id="carsCol">
      <div class="home-header"><strong class="section-title">Auto</strong></div>
    </div>
    <div class="calendar-wrapper">
      <div id="calendarContainer" class="calendar-col"></div>
    </div>
  </div>
  
</div>
